# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.bak
*.user
*.cache

# Compiled TypeScript and JavaScript files
**/*.js
**/*.js.map
**/*.d.ts

# Angular specific
/dist/
/tmp/
/out/
.angular/
.env
.local